<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>D&D Character Creator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Load Character</h1>
    <button onclick="loadData()">Load Character Data</button>
    <pre id="dataOutput"></pre>

    <button onclick="backHome()">Return to the main menu</button>


    <script>
        async function loadData() {
            const response = await fetch('/get_data');
            const data = await response.json();
            document.getElementById('dataOutput').textContent = JSON.stringify(data, null, 2);
        }

        function backHome() {
          if (window.confirm("Are you sure you want to go back, your data won't be save ?")){
            location.href = "/";
          }
        }
    </script>


</body>
</html>
