<!DOCTYPE html>

<body>

  {% include 'header.html' %}
  <h1>New character</h1>
  <div class="buttonBox">

    <button onclick="loadData('/get_classes', 'cardContainer', 'classes')">Class</button>
    <button onclick="loadData('/get_races', 'cardContainer', 'races')">Origin</button>
    <button onclick="">Scores</button>
    <button onclick="">Other</button>

    <button onclick="finalizeSelection()">Finish</button>
    <button onclick="backHome()">Return to the main menu</button>

    <div id="cardContainer" class="card-container"></div>

    <div id="modalOverlay" style="display: none;" class="modal-overlay">
      <!-- Modal Content -->
      <div id="detailModal" class="modal-content" style="display: none;">
        <!-- Modal Header -->
        <div class="modal-header">
          <h2 id="name">Name Placeholder</h2>
        </div>

        <!-- Modal Body -->
        <div class="modal-body">
          <!-- Primary Information Section -->
          <div class="info-section">
            <p id="info1">Info 1 Placeholder</p>
            <p id="info2">Info 2 Placeholder</p>
          </div>

          <!-- Perks Section -->
          <div class="perks-section">
            <h3>Perks</h3>
            <div id="perks">
              <!-- Perks will be dynamically inserted here -->
            </div>
          </div>

          <!-- Description Section -->
          <div class="description-section">
            <h3>Description</h3>
            <p id="description">Description Placeholder</p>
          </div>
        </div>

        <!-- Modal Footer -->
        <div class="modal-footer">
          <button class="modal-button" onclick="closeModal()">Close</button>
          <button class="modal-button" onclick="validateChoice()">Validate</button>
        </div>
      </div>
    </div>

  </div>


  <script src="{{url_for('static', filename='Javascript/newChara.js')}}"></script>

</body>
</html>
